<launch>
    <!-- 加载全局参数 -->
    <rosparam command="load" file="$(find avp_main)/config/avp_main_config.yaml" />
    
    <!-- 启动模块 -->
    <include file="$(find perception)/launch/perception.launch" />
    <include file="$(find localization)/launch/localization.launch" />
    <include file="$(find planning)/launch/planning.launch" /> 
    <include file="$(find controller)/launch/controller.launch" /> 
    
    <!-- 启动可视化 -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" 
          args="-d $(find avp_system)/rviz/avp_display.rviz" /> -->
</launch>
